description = "Article"

[staticPage]
useContent = 1
default = 1

[staticMenu menuHeaderTop]
code = "header-top"

[staticMenu menuHeaderUnder]
code = "header-under"

[staticMenu menuMain]
code = "footer-main"

[staticMenu menuSocial]
code = "footer-social"

[staticMenu menuLegal]
code = "footer-legal"

[SeoStaticPage]
==
{# Global Variables Used to set hero header,subheader and background/page image #}
{variable name="image_source" label="Image" tab="Hero" type="mediafinder" mode="image"}{/variable}
{# Variables for Category #}
{variable name="tags" label="Category" tab="Category" type="taglist" customTags="true"}{/variable}
{% partial "../layouts/_all" %}
